<div>
  <h1>About Me</h1>
  <section>
    <h2>Basic Info</h2>
    <ul>
      <li><strong>Name:</strong> RON</li>
      <li><strong>Location:</strong> Saitama, Japan</li>
      <li><strong>Occupation:</strong> Backend Engineer</li>
      <li><strong>My hobbies:</strong> Cooking and Running</li>
    </ul>
  </section>
  <section>
    <h2>About Work</h2>
    <ul>
      <li><strong>Programming Languages:</strong> Rust, TypeScript, Python</li>
    </ul>
  </section>
  <section>
    <h2>Find Me On</h2>
    <ul>
      <li><a href="https://x.com/RONnakayama" target="_blank">X (Twitter)</a></li>
      <li><a href="https://github.com/nakayamaryo0731" target="_blank">GitHub</a></li>
    </ul>
  </section>
</div>