<div class="blog-self-intro-link">
  <h2>About Me</h2>
  <a href="/about-me">About Me</a>
</div>

<style>
  .blog-self-intro-link {
  }

  .blog-self-intro-link h2 {
    margin: 0;
    padding-left: 0.4rem;
    color: #777;
    font-size: 0.95rem;
  }
  .blog-self-intro-link a {
    display: block;
    line-height: 1.2rem;
    font-size: 0.9rem;
    gap: 6px;
    padding: 0.4rem 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>